<!DOCTYPE html>
<html>
<head>
  <title>User Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container p-4">
  <h2>Welcome, {{ session['username'] }}</h2><br>
  <h3 style="text-align:center;"><u>USER DASHBOARD</u></h3><br>
  <form method="get">
    <div class="mb-3">
      <input type="text" name="search" value="{{ search_query }}" style = "border-color:black;" placeholder="Search Parking Lot..." class="form-control" required>
    </div><br>
    <div style="text-align:center;">
      <button type="submit" button class="btn btn-success">SEARCH</button>
    </div>
  </form><br><hr><br>
  <h2>AVAILABLE LOTS : </h2><br>
  {% for lot in lots %}
    <div class="card my-3">
      <div class="card-header">
        <strong>{{ lot.location_name }}</strong> - {{ lot.address }}
      </div>
      <div class="card-body">
        <div class="row">
          {% for spot in lot.spots %}
            <div class="col-2 m-1">
              <div class="p-2 border rounded {% if spot.is_occupied %}bg-danger{% else %}bg-info text-white{% endif %}">
                Spot {{ spot.spot_number }}<br>
                {% if spot.is_occupied %}
                  {% if spot.booked_by == session['user_id'] %}
                    <a href="/user/cancel_booking/{{ spot.id }}" class="btn btn-danger">Cancel</a>
                  {% else %}
                    Occupied
                  {% endif %}
                {% else %}
                  <a href="/user/book_spot/{{ spot.id }}" class="btn btn-warning">Book Spot</a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
  <h2 style="text-align:center;">No Such Lots Available!</h2>
  {% endfor %}<br>
  <div style="text-align:center;">
    <a href="/user/login" button class="btn btn-danger">LOGOUT</a>
  </div>
</body>
</html>